body {
    background: #ffffff;
    color: #ffffff;
}

.brand {
    height: 98vh;
    background: #0D0D0D;
    font-size: 2vw;
    margin: .7vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 2vh;
    overflow: hidden;
}

#strike {
    font-weight: bolder;
    text-decoration: line-through;
    color: #ffffff;
}

.rocket {
    width: 22vw;
    animation: bounce 2.2s infinite;
}
